<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/header.html :: head('Create')}"></head>
<body>
<nav th:replace="~{partials/navbar.html :: nav}"></nav>
<label id="toggler" class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label>
this is the form for creating a post
<section>
    <div id="post" hidden="hidden">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <label>Title:
                <input type="text" th:field="*{title}">
            </label>
            <label>Body:
                <input type="text" th:field="*{body}">
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="pet" hidden="hidden">
        <form th:action="@{/pets/create}" th:method="post" id="postForm">
            <label>Title:
                <input type="text" name="title">
            </label>
            <label>Body:
                <input type="text" name="body">
            </label>
            <label>Name:
                <input type="text" name="name">
            </label>
            <label>Species
                <input type="text" name="species">
            </label>
            <label>Breed
                <input type="text" name="breed">
            </label>
            <label>Size
                <input type="text" name="size">
            </label>
            <label>Description
                <input type="text" name="description">
            </label>
            <button type="submit">Submit</button>
        </form>
<!--        <form th:action="@{/pets/create}" th:method="post" id="postForm" th:object="${post}">-->
<!--            <label>Title:-->
<!--                <input type="text" th:field="*{title}">-->
<!--            </label>-->
<!--            <label>Body:-->
<!--                <input type="text" th:field="*{body}">-->
<!--            </label>-->
<!--        </form>-->
<!--        <form th:action="@{/pets/create}" th:method="post" id="petForm" th:object="${pet}">-->
<!--            <label>Name:-->
<!--                <input type="text" th:field="*{name}"> -->
<!--            </label>-->
<!--            <label>Species-->
<!--                <input type="text" th:field="*{species}">-->
<!--            </label>-->
<!--            <label>Breed-->
<!--                <input type="text" th:field="*{breed}">-->
<!--            </label>-->
<!--            <label>Size-->
<!--                <input type="text" th:field="*{size}">-->
<!--            </label>-->
<!--            <label>Description-->
<!--                <input type="text" th:field="*{description}">-->
<!--            </label>-->
<!--        </form>-->
<!--        <button type="button" onclick="submitForms()">Click me</button>-->
    </div>


</section>
<footer th:replace="~{partials/footer.html :: footer}"></footer>
<script th:src="@{/js/main.js}"></script>
<script>
    submitForms = function () {
        document.getElementById("petForm").submit();
        document.getElementById("postForm").submit();
        console.log(document.getElementById("petForm"));
        console.log(document.getElementById("postForm"));
    }
</script>

</body>
</html>