<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/header.html :: head('Create')}"></head>
<body>
<nav th:replace="~{partials/navbar.html :: nav}"></nav>
<div class="container">
    <h6 class="d-inline-flex">Is this a lost pet post?</h6>
    <label id="toggler" class="switch">

        <input type="checkbox">
        <span class="slider round"> <h6>yes</h6></span>
    </label>
</div>
<section class="d-flex">
    <div class="container" id="post" hidden="hidden">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Title:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" th:field="*{title}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Location:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" th:field="*{location}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="ta-holder">
                        <span class="ta">Post-Body:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea class="text-area" th:field="*{body}"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn button-main" type="submit">Submit</button>
        </form>
    </div>

    <div class="container" id="pet" hidden="hidden">
        <form th:action="@{/pets/create}" th:method="post" id="postForm">
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Title:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="title">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Location:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Name:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="name">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Size:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="size">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Species:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="species">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="label-holder">
                        <span class="label">Breed:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="breed">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-flex">
                <div class="col-6">
                    <div class="ta-holder">
                        <span class="ta">Post-Body:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea class="text-area" name="body"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="ta-holder">
                        <span class="ta">Description:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea class="text-area" name="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn button-main" type="submit">Submit</button>
        </form>
    </div>


</section>
<footer th:replace="~{partials/footer.html :: footer}"></footer>
<script th:src="@{/js/main.js}"></script>
<!--<script>-->
<!--    submitForms = function () {-->
<!--        document.getElementById("petForm").submit();-->
<!--        document.getElementById("postForm").submit();-->
<!--        console.log(document.getElementById("petForm"));-->
<!--        console.log(document.getElementById("postForm"));-->
<!--    }-->
<!--</script>-->

</body>
</html>