<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragment.html :: head('Create')}"></head>
<head>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <link
            href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css"
            rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <!--geocoder-->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css'
          type='text/css'/>
</head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>
<div class="container">
    <h6 class="d-inline-flex mt-4">Do you have additional information?</h6>
    <label id="toggler" class="switch">
        <input type="checkbox">
        <span class="slider round"> </span>
    </label>
</div>
<section class="d-flex">
    <div class="my-4 p-4 container col-md-6 form-box" id="post" hidden="hidden">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <div class="my-1">
                <div class="my-1 px-1 col-12">
                    <div class="label-holder">
                        <span class="label">Title:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" th:field="*{title}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1">
                <div class="px-1 col-12">
                    <div class="label-holder">
                        <span class="label">Species:</span>
                    </div>
                    <div class="input">
                        <select class="text-input" name="category">
                            <th:block>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>
            <div class="my-1">
                <div class="my-1 px-1 col-12">
                    <div class="ta-holder">
                        <span class="ta">Post-Body:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea rows="4" class="text-area" th:field="*{body}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-3 mb-0">Where was the pet last seen?</h4>
                <input id="lastSeen2" th:name="lastSeen2" th:value="replaceme" type="hidden">
                <div class="d-flex justify-content-between my-2 col-12 col-sm-6">
                    <div class="col-8">
                        <input class="text-input" type="search" placeholder="Search"
                               id="searchInput2">
                    </div>
                    <div>
                        <button class="button-secondary" id="locationSearch2" type="button">
                            Search
                        </button>
                    </div>
                </div>
                <section class="container-fluid col-12">
                    <div style="height: 420px">
                        <div id="map2">
                        </div>
                    </div>
                </section>
            </div>
            <div class="d-flex justify-content-end">
                <button class="mt-4 button-main" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <!--PET WITH DESCRIPTION FORM-->
    <div class="my-4 mb-4 p-4 container form-box col-12" id="pet" hidden="hidden">
        <form th:action="@{/pets/create}" th:method="post" id="postForm">
            <div class="mt-1 d-flex flex-wrap">
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="label-holder">
                        <span class="label"> Post Title:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-1 d-flex flex-wrap">
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="label-holder">
                        <span class="label">Name:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="name">
                        </div>
                    </div>
                </div>
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="label-holder">
                        <span class="label">Size:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="size">
                        </div>
                    </div>
                    <div>
                        <figcaption>
                            <span><em>Size can be anything like "x-small" or "1ft and 5in wide"</em></span>
                        </figcaption>
                    </div>
                </div>
            </div>
            <div class="my-1 d-flex flex-wrap">
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="label-holder">
                        <span class="label">Species:</span>
                    </div>
                    <div class="input">
                        <select class="text-input" name="category">
                            <th:block>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="label-holder">
                        <span class="label">Breed:</span>
                    </div>
                    <div>
                        <div class="input">
                            <input class="text-input" type="text" name="breed">
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-1 d-flex flex-wrap">
                <div class=" my-1 px-1 col-12 col-sm-6">
                    <div class="ta-holder">
                        <span class="ta">Post-Body:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea rows="4" class="text-area" name="body"></textarea>
                        </div>
                    </div>
                </div>
                <div class="my-1 px-1 col-12 col-sm-6">
                    <div class="ta-holder">
                        <span class="ta">Description:</span>
                    </div>
                    <div>
                        <div class="input">
                            <textarea rows="4" class="text-area" name="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input id="stashFilestackURL" th:name="stashFilestackURL" th:value="replaceme"
                       type="hidden">
                <label for="upload"></label>
                <button class="button-secondary" type="button" id="upload" name="upload">Upload an
                    image
                </button>
            </div>
            <div>
                <div>
                    <h4 class="mt-3 mb-0">Where was the pet last seen?</h4>
                    <input id="lastSeen" th:name="lastSeen" th:value="replaceme" type="hidden">
                    <div class="d-flex justify-content-between my-2 col-12 col-sm-6">
                        <div class="col-8">
                            <input class="text-input" type="search" placeholder="Search"
                                   id="searchInput">
                        </div>
                        <div>
                            <button class="button-secondary" id="locationSearch" type="button">
                                Search
                            </button>
                        </div>
                    </div>
                    <section class="container-fluid col-12">
                        <div style="height: 420px">
                            <div id="map">
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class="d-flex justify-content-end">
                <a class="btn button-secondary mt-4 mb-4 me-3" onclick="history.back()">Go Back</a>
                <button class="mt-4 mb-4 btn button-main" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
<footer th:replace="~{partials/fragment.html :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossOrigin="anonymous"></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:inline="javascript">

    //FILESTACK ---------------------------------------------------
    $("#upload").click(function () {
        client.picker(options).open()
    });
    var filestackapi = [[${filestackapi}]];
    const client = filestack.init(filestackapi);
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    //MAPBOX ---------------------------------------------------
    var mapboxApiKey = [[${mapboxapi}]]
    mapboxgl.accessToken = mapboxApiKey;
    const map = new mapboxgl.Map({
        container: 'map', // Container ID
        style: 'mapbox://styles/mapbox/streets-v12', // Map style to use
        center: [-98.4946, 29.4252], // Starting position [lng, lat]
        zoom: 12 // Starting zoom level
    });
    //MAP MARKER INFO
    const marker = new mapboxgl.Marker({ // Initialize a new marker
        draggable: true
    })
        .setLngLat([-98.491142, 29.424349])// Marker [lng, lat] coordinates
        .addTo(map); // Add the marker to the map

    marker.on('dragend', function (e) {
        let longlat = e.target._lngLat;
        console.log(longlat)
        $("#lastSeen").val(`${longlat.lng},${longlat.lat}`)
    });

    map.addControl(new mapboxgl.NavigationControl());

    map.on('load', () => {
        map.addSource('single-point', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': []
            }
        });


        //MAP SEARCH INFO
        function mapboxSearch(searchString) {
            geocode(searchString, mapboxApiKey).then(
                function (results) {
                    // FLIES TO SEARCHED LOCATION
                    let markerFlyTo = {center: results, zoom: 12}
                    map.flyTo(markerFlyTo);
                    map.resize();
                    marker.setLngLat(results)
                    $("#lastSeen").val(`${results[0]},${results[1]}`)
                }
            );
            map.addLayer({
                'id': 'point',
                'source': 'single-point',
                'type': 'circle',
                'paint': {
                    'circle-radius': 10,
                    'circle-color': '#d641ff'
                }
            });
        }

        $("#locationSearch").on("click", function (e) {
            e.preventDefault();
            mapboxSearch($("#searchInput").val());
        })

        mapboxSearch([[${#authentication.principal.zipCode}]]);
    });
    //MAP LOGIC FOR REGULAR POST FORM
    var mapboxApiKey = [[${mapboxapi}]]
    mapboxgl.accessToken = mapboxApiKey;
    const map2 = new mapboxgl.Map({
        container: 'map2', // Container ID
        style: 'mapbox://styles/mapbox/streets-v12', // Map style to use
        center: [-98.4946, 29.4252], // Starting position [lng, lat]
        zoom: 12, // Starting zoom level
    });

    map2.on("idle", function () {
        map.resize();
    });


    map2.addControl(new mapboxgl.NavigationControl());

    //MAP MARKER INFO
    const marker2 = new mapboxgl.Marker({ // Initialize a new marker
        draggable: true
    })
        .setLngLat([-98.491142, 29.424349])// Marker [lng, lat] coordinates
        .addTo(map2); // Add the marker to the map

    marker2.on('dragend', function (e) {
        let longlat = e.target._lngLat;
        $("#lastSeen2").val(`${longlat.lng},${longlat.lat}`)
    });


    map2.on('load', () => {
        map2.resize();
        map2.addSource('single-point', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': []
            }
        });


        //MAP SEARCH INFO
        function mapboxSearch2(searchString) {
            geocode(searchString, mapboxApiKey).then(
                function (results) {
                    // FLIES TO SEARCHED LOCATION
                    let markerFlyTo = {center: results, zoom: 12}
                    map2.flyTo(markerFlyTo);
                    marker2.setLngLat(results)
                    $("#lastSeen2").val(`${results[0]},${results[1]}`)
                }
            );
            map2.addLayer({
                'id': 'point',
                'source': 'single-point',
                'type': 'circle',
                'paint': {
                    'circle-radius': 10,
                    'circle-color': '#d641ff'
                }
            });
        }

        $("#locationSearch2").on("click", function (e) {
            e.preventDefault();
            mapboxSearch2($("#searchInput2").val());
        })
        mapboxSearch2([[${#authentication.principal.zipCode}]]);
    });


</script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{js/mapbox-geocoder-utils.js}"></script>
</body>
</html>