<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/header.html :: head('Pet')}"></head>
<body>
<nav th:replace="~{partials/navbar.html :: nav}"></nav>
<div th:each="pet :${onePet}" th:with="postTitle=${onePost.getTitle()}, postBody=${onePost.getBody()}">
    <h2 th:text="${pet.isLost()}"></h2>
    <h2 th:text="${postTitle}"></h2>
    <img th:src="${pet.getPhoto()}"></img>
    <h2 th:text="${pet.getName()}"></h2>
    <h2 th:text="${pet.getSpecies()}"></h2>
    <h2 th:text="${pet.getBreed()}"></h2>
    <h2 th:text="${pet.getSize()}"></h2>
    <h2 th:text="${pet.getDescription()}"></h2>
    <h2 th:text="${postBody}"></h2>
</div>
</body>
</html>