<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragment.html :: head('Post Edit')}"></head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>
<form th:action="@{/posts/create}" th:method="post" id="postForm" th:object="${post}">
    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" name="category" id="category" th:value="${category.id}">
    <div>
        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input id="title" type="text" th:field="*{title}">
        </div>
    </div>
    <div>
        <div>
            <label for="description">Description</label>
        </div>
        <div>
            <input id="description" type="text" th:field="*{body}">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<footer th:replace="~{partials/fragment.html :: footer}"></footer>

</body>
</html>