<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragment.html :: head('Forums')}"></head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>
<span hidden sec:authorize="isAuthenticated()">
    <span id="usr" th:text="${#authentication.principal.id}"></span>
</span>

<div class="container p-2" th:each="post: ${posts}">
    <div>
    <div class="label-holder">
            <span class="label">
                <div>
                <a th:href="@{/profile/{id} (id=${post.user.id})}">
                <p class="pt-2 mb-0" style="font-weight: bold" th:text="${post.user.username}"></p>
                </a>
                </div>
            </span>
    </div>
    <div class="p-1 container d-flex flex-row card">
        <a class="col-11 a-null" th:href="@{/posts/{id} (id=${post.id})}">
            <div class="card-body">
                <h4 th:text="${post.title}" class="card-title"></h4>
                <p class="card-text" th:text="${post.body}"></p>
                <span>Category:&nbsp;<span class="card-text" th:text="${post.categories.get(0).name}"></span></span>
            </div>
        </a>
        <span class="dropdown col-1 justify-content-end d-flex">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis-vertical fa-lg" style="color: #170309;"></i>
                </button>
                <ul class="dropdown-menu">
                    <li class="profile">
                        <span class="prf-hddn" hidden="hidden" th:text="${post.user.id}"></span>
                        <a th:href="@{/profile/{id} (id=${post.user.id})}" class="dropdown-item">Profile</a></li>
                    <li class="dd-hidden">
                        <span class="usr-hddn" hidden="hidden" th:text="${post.user.id}"></span>
                        <a th:href="@{/posts/{id}/edit (id=${post.id})}" class="dropdown-item">Edit</a></li>
                    <li class="dd-hidden">
                        <span class="usr-hddn" hidden="hidden" th:text="${post.user.id}"></span>
                        <form class="p-0 dropdown-item" th:action="@{/posts/{id}/delete (id=${post.id})}"
                              th:method="post">
                        <input class="dropdown-item" type="hidden" name="id" th:value="${post.id}">
                        <button class=" dropdown-item " type="submit">DELETE</button>
                    </form></li>
                </ul>
            </span>
    </div>
</div>
</div>
<footer th:replace="~{partials/fragment.html :: footer}"></footer>
<script th:src="@{/js/index.js}"></script>

</body>
</html>