<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragment.html :: head('Post')}"></head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>
<div th:each="Post :${post}">
    <div class="m-2 post">
        <div class="col-12 post-item"><h1 class="lost" th:text="${Post.getTitle()}"></h1></div>
        <div class="col-12 post-item"><h2 th:text="${Post.getBody()}"></h2></div>
    </div>
    <div th:each="category : ${categoryList}">
        <h2>Category: <span th:text="${category.getName()}"></span></h2>
    </div>
    <hr>
    <div class="d-flex justify-content-center col-12 container">
        <form th:action="@{/comment/pet}" th:method="post" th:object="${comment}">
            <div class="py-2 px-4 col-12 form-box">
                <input type="hidden" th:name="post" th:value="${Post.getId()}">
                <div class="ta-holder">
                    <span class="ta">Body:</span>
                </div>
                <div class="col-12 input">
                    <textarea class="text-area-2" type="text" th:field="*{body}"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="button-main" type="submit">Add comment</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="p-2 container form-box">
        <div class="container" th:each="comment : ${commentList}">
            <div class="m-1 d-flex py-1 px-4 col-12 justify-content-between form-box-2">
                <h2 class="m-0" th:text="${comment.getBody()}"></h2>
                <span class="col-1 dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="button dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                            Edit
                            </button>
                        </li>
                        <!--                    <li><a th:href="@{/profile/{id} (id=${onePost.petId.user.id})}" class="dropdown-item">Profile</a></li>-->
                        <li>
                            <form class="p-0 dropdown-item" th:action="@{/comment/delete}" th:method="post">
                                <input class="dropdown-item" type="hidden" th:name="id" th:value="${comment.id}">
                                <button class=" dropdown-item " type="submit">Delete</button>
                            </form>
                        </li>
                    </ul>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="p-0 dropdown-item" th:action="@{/comment/edit}" th:method="post">
                                        <input class="dropdown-item" type="hidden" name="id" th:value="${comment.id}">
                                        <input type="text" name="body" th:value="${comment.body}">
                                        <div class="modal-footer">
                                            <button class="button-main" type="submit">Save Changes</button>
                                            <button type="button" class="button-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{partials/fragment.html :: footer}"></footer>

</body>
</html>