<nav th:fragment="navbar" class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">PawsPursuit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="navbar-item">
                        <a th:href="@{/login}" class="nav-link">Login</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/pets}">Pets</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/create}">Create</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" th:href="@{/profile/1/edit}">Edit Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a th:href="@{/chat/5/6}" class="nav-link">Chat</a>
                    </li>
                    <li class="navbar-item">
                        <a th:href="@{/profile/messages}" class="nav-link">Messages</a>
                    </li>
                    <li class="navbar-item">
                        <a th:href="@{/posts}" class="nav-link">Posts</a>
                    </li>
                    <li class="navbar-item">
                        <a th:href="@{/posts/create}" class="nav-link">Create Post</a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>