<form>
    <div>
        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input id="title" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="species">Species</label>
        </div>
        <div>
            <input id="species" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input id="name" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="breed">Breed</label>
        </div>
        <div>
            <input id="breed" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="size">Size</label>
        </div>
        <div>
            <input id="size" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="description">Description</label>
        </div>
        <div>
            <input id="description" type="text">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>