<!--<form th:action="@{/pets/create}" th:method="post" id="petForm" th:object="${pet}">-->
<!--    <label>Name:-->
<!--        <input type="text" th:field="*{name}">-->
<!--    </label>-->
<!--    <label>Species-->
<!--        <input type="text" th:field="*{species}">-->
<!--    </label>-->
<!--    <label>Breed-->
<!--        <input type="text" th:field="*{breed}">-->
<!--    </label>-->
<!--    <label>Size-->
<!--        <input type="text" th:field="*{size}">-->
<!--    </label>-->
<!--    <label>Description-->
<!--        <input type="text" th:field="*{description}">-->
<!--    </label>-->
<!--</form>-->



<form th:action="@{/pets/create}" th:method="post" id="postForm" th:object="${post}">
    <div>
        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input id="title" type="text">
        </div>
    </div>
    <div>
        <div>
            <label for="description">Description</label>
        </div>
        <div>
            <input id="description" type="text">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>