<!DOCTYPE html>
<head th:replace="~{partials/fragment.html :: head('Messages')}"></head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>
<input type="button" value="Back to posts">
this is the messages home
<script th:inline="javascript">
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);


    Talk.ready.then(function () {

        var testAppId = [[${testAppId}]]


        var me = new Talk.User({
            id: "[[${id}]]",
            name: "[[${name}]]",
            email: "[[${email}]]"
        });
        window.talkSession = new Talk.Session({
            appId: testAppId,
            me: me,
        });
        var other = new Talk.User({
            id: "[[${id2}]]",
            name: [[${name2}]],
            email: [[${email2}]]
        });

        var conversation = talkSession.getOrCreateConversation(
            Talk.oneOnOneId(me, other)
        );
        conversation.setParticipant(me);
        conversation.setParticipant(other);

        const inbox = session.createInbox();
        inbox.mount(document.getElementById('inbox-container'));
    });

</script>

<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
    <i>Loading chat...</i>
</div>
<div id="inbox-container">
<footer th:replace="~{partials/fragment.html :: footer}"></footer>
</div>
</body>
</html>