<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragment.html :: head('Profile')}"></head>
<body>
<nav th:replace="~{partials/fragment.html :: nav}"></nav>

<section class="container-fluid m-5">

    <div>
        <h1 th:text="${#authentication.principal.id}"></h1>
        <h1 th:text="${#authentication.principal.username}"></h1>
        <h1 th:text="${#authentication.principal.email}"></h1>
    </div>

</section>






<div>
    <a th:href="@{/chat/{r_id}(r_id=${user.getId()})}" >
        <button class="btn button-main">Chat With Me</button>
    </a>
</div>

<input value="make a post" type="button">

    <form th:action="@{/profile/delete}" th:method="post">
    <input  type="hidden" th:value="${#authentication.principal.id}" th:name="id">
    <button onclick="return confirm('Are you sure about that?')" type="submit">DELETE PROFILE</button>
</form>
<div th:each="post : ${posts}">

    <a th:href="@{/posts/{id}(id=${post.getId()})}" >
        <h4 th:text="${post.title}"></h4></a>
        <p th:text="${post.body}"></p>

</div>


<footer th:replace="~{partials/fragment.html :: footer}"></footer>

</body>
</html>