.resizable-image-1 {
    width: 35rem;
    border-radius: 10px;
}


.resizable-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/*.resizable-image3 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: right;*/
/*    height: 100px;*/
/*}*/

/*.resizable-image4 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100px;*/
/*}*/

/*.resizable-image5 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100px;*/
/*}*/