.resizable-image-1 {
    width: 300px;
}

.resizable-image-2 {
    width: 90px;
    height: 90px;
}

.flex-item{
    max-width: 110%;
    max-height: 110%;
}

.resizable-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.resizable-image3 {
    display: flex;
    justify-content: center;
    align-items: right;
    height: 100px;
}

.resizable-image4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.resizable-image5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}