*{
    color: #394140!important;
}
body{
    background-color: #A4CB9E;
}
div.label{
    background-color: #7FADA7;
    padding:1px;
    margin: 5px;
}

div.input{
    display: inline-block;
    border-radius: 30px ;

}


input, textarea{
    padding-left: 5px;
    border-radius: 30px ;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.text-input{
    width: 100%;
}

.text-area{
    height: 10rem;
    width: 15rem;
    padding-left: 0.5rem;
}
.button{
    padding: 1px;
    width:75px;
    border-radius: 30px !important;
}

.button-main{
    padding: 1px;
    /*width:75px;*/
    background-color: #C39BCA !important;
    border-radius: 30px !important;
}

.button-secondary{
    padding: 1px;
    width:75px;
    background-color: #7FADA7 !important;
    border-radius: 30px !important;
}
.label-holder{
    display:flex;
}
.label{
    display: flex;
    padding: 5px;
    padding-top: 0;
    background-color: #7FADA7;
    border-radius: 30px;
    padding-bottom: 1rem;
    margin-bottom: -20px;
}

.ta-holder{
    display: flex;
}

.ta{
    display: flex;
    padding: 7px;
    background-color: #7FADA7;
    border-radius: 30px;
    padding-bottom: 3rem;
    margin-bottom: -3rem;
}
.form-box {
    background-color: #4C6763;
    border-radius: 30px;
}

.card{
    background-color: #7FADA7;
    border-radius: 30px!important;
}
.a-null{
    text-decoration: none;
    text-underline: none;
}
a.dropdown-item:hover{
    color: #C39BCA!important;
    background-color:#4C6763 ;
    border-radius: 30px;
}
form.dropdown-item{
    border-radius: 30px;
}
button.dropdown-item:hover{
    color:#C39BCA !important;
    background-color: firebrick;
    border-radius: 30px;
}

.dropdown-toggle{
    border: none;
    background: none;
    height: 2rem;
    width: 1rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

}

.dropdown-menu.show{
    transform: translate3d(0px, 20px, 0px) !important;
    background-color: #C39BCA;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7FADA7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7FADA7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

label:hover {
    cursor: pointer;
}
