* {
    color: #170309 !important;
    font-family: 'Eczar', serif;
    padding: 0;
    margin: 0;
}

.home-title {
    font-family: 'Bubblegum Sans', cursive;
}

body {
    overflow-x: hidden;
    background-color: rgba( 233, 176, 53, 40%)!important;
}

.navfrag{
    background-color: rgba( 233, 176, 53, 40%);
}

.navbar {
    background-color: white;
    padding: 0 !important;
}

div.label {
    background-color: #fef6f8;
    border: solid #170309 ;
    padding: 1px;
    margin: 5px;
}

div.input {
    display: inline-block;
    border-radius: 30px;
}

input, textarea {
    padding-left: 5px;
    border-radius: 30px;
    border: solid #170309;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.text-input {
    width: 100%;
}

.text-area {
    height: 10rem;
    width: 15rem;
    padding-left: 0.5rem;
}
.text-area-2 {
    height: 5rem;
    width: 25rem;
    padding-left: 0.5rem;
}

.home {
    display: flex;
    align-items: center;
}

.offcanvas {
    background-color: rgb( 233, 176, 53);
    width: 15rem!important;
}

.button {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    border-radius: 30px !important;
    background-color: transparent;
}

.button-main {
    border: solid #170309;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    background-color: #f3a391 !important;
    border-radius: 30px !important;
}

.button-secondary {
    border:solid #170309;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    background-color: #faefd6 !important;
    border-radius: 30px !important;
}

.label-holder {
    display: flex;
}

.label {
    display: flex;
    padding:1px 5px 1rem 5px ;
    background-color: #e9b035;
    border-radius: 30px;
    margin-bottom: -20px;
}

.ta-holder {
    display: flex;
}

.ta {
    border: solid #170309;
    display: flex;
    padding: 7px 7px 3rem 7px;
    background-color: #db8e85;
    border-radius: 30px;
    margin-bottom: -3rem;
}

.form-box {
    background-color: #e9b035;
    border-radius: 30px;
    border: solid #170309;
}
.form-box-2 {
    background-color: #e9b035;
    border-radius: 30px;
    border: solid #170309;

}

.card {
    border: solid #170309 ;
    background-color: #e9b035;
    border-radius: 30px !important;
}

.card > img {
    border-top-left-radius: 27px !important;
    border-top-right-radius: 27px !important;
    border-bottom: #170309 solid 3px !important;
    height: 285px !important;
}

.a-null {
    text-decoration: none;
    text-underline: none;
}

a.dropdown-item:hover, button.dropdown-item:hover {
    color: #170309 !important;
    background-color: #e9b035;
    border: #170309 solid;
}

form.dropdown-item {
    border-radius: 30px;
}

button.delete:hover {
    color: #fef6f8 !important;
    background-color: firebrick;
    border: solid #170309;
}

.dropdown-toggle {
    border: none;
    background: none;
    height: 2rem;
    width: 1rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.dropdown-menu.show {
    transform: translate3d(0px, 20px, 0px) !important;
    background-color: #f3a391;
}

.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e9b035;
    border-radius: 30px;
    border: solid #170309;
}

.post-item {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f3a391;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f3a391;
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

label:hover {
    cursor: pointer;

}

.penguin {
    width: 71px;
    height: 55px;
    margin: 10px 2px 2px 2px;
}

.penguin-body {
    width: 60px;
    height: 55px;
    position: absolute;
    background: #170309;
    margin-left: 7.5px;
    border-radius: 100% 100% 30% 30%;
}

.penguin-body-inner {
    width: 30px;
    height: 20px;
    position: absolute;
    background: darkgray;
    border-radius: 100% 100% 50% 50%;
    margin-left: 15px;
    margin-top: 30px;
}

.penguin-eye-left {
    Border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    background: white;
    margin-left: 15px;
    margin-top: 10px;
}

.penguin-eye-right {
    Border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    background: white;
    margin-left: 35px;
    margin-top: 10px;
}

.penguin-pupil {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: black;
    margin-left: 5px;
    margin-top: 5px;
}

.penguin-arm-left {
    position: absolute;
    background: #170309;
    height: 25px;
    width: 15px;
    margin-top: 20px;
    border-radius: 100%;
}

.penguin-arm-right {
    position: absolute;
    background: #170309;
    height: 25px;
    width: 15px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 100%;
}

.beak {
    position: absolute;
    background: #e9b035;
    height: 15px;
    width: 10px;
    margin-left: 25px;
    margin-top: 13px;
    border-radius: 100%;
}

.brow-left {
    position: absolute;
    width: 35px;
    height: 5px;
    background: #f3a391;
    border-radius: 100%;
    margin-top: 2px;
    transform: rotate(35deg);
}

.brow-right {
    position: absolute;
    width: 35px;
    height: 5px;
    background: #f3a391;
    border-radius: 100%;
    margin-left: 25px;
    margin-top: 2px;
    transform: rotate(325deg);
}

.penguin-hat-top {
    position: absolute;
    width: 20px;
    height: 10px;
    background: saddlebrown;
    border-radius: 100%;
    margin-left: 27.5px;
    margin-top: -10px;
}

.penguin-hat-body {
    position: absolute;
    width: 20px;
    height: 10px;
    background: saddlebrown;
    margin-left: 27.5px;
    margin-top: -6px;
}

.penguin-hat-brim {
    position: absolute;
    width: 20px;
    height: 5px;
    background: #4C6763;
    margin-left: 27.5px;
    margin-top: -3px;
}

.penguin-hat-band {
    position: absolute;
    width: 31px;
    height: 5px;
    background: saddlebrown;
    border-radius: 100%;
    margin-left: 22px;
    margin-top: 0px;
}

.monocle {
    Border-radius: 100%;
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 34px;
    margin-top: 9px;
    border: solid gold;
}

.chain-1 {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: gold;
    margin-left: 9px;
    margin-top: 4px;
}

.chain-2 {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: gold;
    margin-left: 3px;
    margin-top: 4px;
}

.chain-3 {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: gold;
    margin-left: 5px;
    margin-top: 1px;
}

.chain-4 {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: gold;
    margin-left: 3px;
    margin-top: -4px;
}

@keyframes eyeroll {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
div.penguin-eye-left:hover ,div.monocle:hover{
animation-name: eyeroll;
    animation-duration: 750ms;
}
.paw{
    margin-left: 85px;
    position: absolute;
    margin-top: 25px;
    transform: rotate(335deg);
    opacity: 50%;
}
.paw-2{
    margin-left: 135px;
    position: absolute;
    margin-top: -37px;
    transform: rotate(335deg);
    opacity: 25%;
}
.paw-pad-1{
    background: black;
    width: 10px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    transform: rotate(315deg);
}
.paw-pad-2{
    background: black;
    width: 10px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    margin-top: 7.5px;
    transform: rotate(45deg);
}
.pad-1{
    background: black;
    width: 8px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    margin-top: -2px;
    margin-left: 9px;
}
.pad-2{
    background: black;
    width: 9px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    margin-top: 3px;
    margin-left: 14px;
}
.pad-3{
    background: black;
    width: 9px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    margin-top: 10px;
    margin-left: 14px;
}
.pad-4{
    background: black;
    width: 8px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    margin-top: 17px;
    margin-left: 10px;
}

#map {
    border: 3px solid black;
    height: 40vh;
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}