<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragment.html :: head('Index')}">
</head>
<head>
    <script src="https://kit.fontawesome.com/24c078a617.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  th:href="@{/css/index.css}">
</head>
<body>
<nav th:replace="partials/fragment.html :: nav"></nav>

<div class="flex-container1">

<img th:src="@{/images/DogPic.png}" class="resizable-image1">

</div>

<h1>Help Reunite Best Friends</h1>

<p>We're dedicated to helping reunite Pets and Their families  </p>

<input type="button" value="View all pet posts">
<button type="button" value="Sign up">
<a th:href="@{/register}" class="signup-button">Sign Up</a>
</button>

<div th:each="pet: ${post}">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body ">
        <h5 th:text="${pet.isLost()}" class="card-title"></h5>

        <img class="card-img" src="..." alt="Card image cap">

        <div>
            <h6 class="card-subtitle d-inline-block">Species : </h6>
            <h6 th:text="${pet.getSpecies()}" class="card-subtitle d-inline-block"></h6>
        </div>
        <div>
            <h6 class="card-subtitle d-inline-block">Name : </h6>
            <h6 th:text="${pet.getName()}" class="card-subtitle d-inline-block"></h6>
        </div>
        <div>
            <h6 class="card-subtitle d-inline-block">Size : </h6>
            <h6 th:text="${pet.getSize()}" class="card-subtitle d-inline-block"></h6>
        </div>
        <p class="card-text" th:text="${pet.getId()}"></p>
    </div>
</div>
</div>

<h2>Ready to get started?</h2>
<h3>Sign up or contact us</h3>

<input type="button" value="Sign Up?">
<input type="button" value="Contact Us">
<div class="flex-container">
        <div class="card"  style="width: 18rem;">>
            <img th:src="@{/images/Ciera_Romero_headShot.png}" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ciera Romero-Wright</h5>
                <p>Software Developer</p>
                <a th:href="@{https://github.com/cieraromerowright}">
                    <i class="fab fa-github"></i>
                    <a th:href="@{https://www.linkedin.com/in/ciera-romero-wright-164765230/}">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </a>
            </div>
        </div>
         <div class="card" style="width: 18rem;">
                <img th:src="@{/images/Genesis_Headshot.png}" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Genesis Sarabia</h5>
                    <p>Software Developer</p>
                    <a th:href="@{https://github.com/genesissarabia}">
                        <i class="fab fa-github"></i>
                        <a th:href="@{https://www.linkedin.com/in/genesis-sarabia/}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </a>
                </div>
            </div>
        <div class="card" style="width: 18rem;">>
           <img th:src="@{/images/Riley_Wood_Headshot.png}" class="card-img-top" alt="Card image cap">
           <div class="card-body">
               <h5 class="card-title">Riley Wood</h5>
               <p>Software Developer</p>
              <a th:href="@{https://github.com/RileyWood9984}">
               <i class="fab fa-github"></i>
                  <a th:href="@{https://www.linkedin.com/in/riley-j-wood/}">
                      <i class="fab fa-linkedin"></i>
                  </a>
              </a>
           </div>
        </div>
        <div class="card" style="width: 18rem;">>
            <img th:src="@{/images/Luis_Headshot.png}" class="card-img-top" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">Luis Gonzalez</h5>
               <p>Description</p>
               <a th:href="@{https://github.com/zluigon}">
                  <i class="fab fa-github"></i>
                 <a th:href="@{https://www.linkedin.com/in/zluigon/}">
                     <i class="fab fa-linkedin"></i>
                 </a>
               </a>
           </div>
         </div>
</div>
<footer th:replace="partials/fragment.html :: footer"></footer>
</body>
</html>
