<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <form>
        <div>
            <div>
                <label for="username">Username</label>
            </div>
            <div>
                <input id="username" type="text">
            </div>
        </div> <div>
            <div>
                <label for="password">Password</label>
            </div>
            <div>
                <input id="password" type="text">
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</section>
</body>
</html>
