<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/header.html :: head('Login')}"></head>
<body>
<nav th:replace="~{partials/navbar.html :: nav}"></nav>
<section>
    <form th:method="post" th:action="@{/login}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
    </form>
</section>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
